
<div class="recepies_list_content">

    <div class="complexity_navigathion"> 
        <p>All</p>
    </div>

    <div>
        <div class="meal_navigathion">
            <p>Lunch</p>
        </div>

        <div class="recipe_item">
            <div>
                <img class="recipe_img"/>

                <div class="recipe_info">
                    <h3>Recepies name</h3>

                    <div>
                        <h4>Ingredients</h4>
                        <div class="ingredient_item">item</div>
                    </div>

                    <div>
                        <h4>Information</h4>
                        <div class="information_item">
                            item
                        </div>
                    </div>

                    <button class="recipe_btn">Recipe</button>

                </div>

            </div>
        </div>
    </div>

</div>
