
<div class="recepies_list_content">

        <ul class="complexity_navigathion">
            <li>
                <a [routerLink]="" routerLinkActive="active" class="complexity_elem">All</a>
            </li>
            <li>
                <a [routerLink]="" routerLinkActive="active" class="complexity_elem">Easy</a>
            </li>
            <li>
                <a [routerLink]="" routerLinkActive="active" class="complexity_elem">Mediun</a>
            </li>
        </ul>


    <div class="main_recipe_list_content">
        <ul class="meal_navigathion">
            <li>
                <a [routerLink]="" routerLinkActive="active" class="meal_link">Breakfast</a>
            </li>
            <li>
                <a [routerLink]="" routerLinkActive="active" class="meal_link">Lunch</a>
            </li>
            <li>
                <a [routerLink]="" routerLinkActive="active" class="meal_link">Dinner</a>
            </li>
        </ul>

        <div class="recipe_item">
            @for (recipe of recepiServise.recepList; track recipe.id) {
                <div class="recipe_elem">
    
                    <div class="recipe_info">
                        <h3>{{recipe.name}}</h3>
    
                        <div>
                            <h4>Ingredients</h4>
                            <div class="ingredient_item">item</div>
                        </div>
    
                        <div>
                            <h4>Information</h4>
                            <div class="information_item">
                                item
                            </div>
                            
                        </div>
    
                        <button class="recipe_btn" [routerLink]="`/recipe/${recipe.id}`" >Recipe</button>
    
                    </div>

                    <img class="recipe_img" [src]="recipe.image"/>

                </div>
            }
        </div>
    </div>

</div>

<style>

    .complexity_navigathion{
        display: flex;
        align-items: center;
        list-style-type: none;

    }
    .complexity_elem {
        color: black;

        margin: 15px;
        padding: 10px;
    }

    .meal_navigathion {
    list-style-type: none; 

    }

    .meal_link {
        display: flex; 
        writing-mode: vertical-rl; 
        transform: rotate(180deg); 
        text-align: center; 
        margin: 10px; 
    }


    /* .complexity_elem.active {
        color: purple;
        text-decoration: underline 
    } */

    .main_recipe_list_content{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .meal_navigathion{
        display: flex;
        flex-direction: column;
    }

    .recipe_item {
    display: flex;
    overflow-y: scroll; 
    scrollbar-width: none; 
    }

    .recipe_btn{
        width: 124px;
        height: 23px;
        border: none;
        border-radius: 4px;
        color: white;
        background-color: #408EBA;
    }

    .recipe_item::-webkit-scrollbar {
        display: none;
    }

    .recipe_elem{
        width: 623px;
        height: 469px;
        margin: 40px;
        margin-right: 150px;
        padding: 10px;
        border: 7px solid white;
        border-radius: 25px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .recipe_img{
        width: 320px;
        height: 320px;
        border: 7px solid white;
        border-radius: 25px;

        position: relative;
        left: 35%;
    }
</style>