
    <div>
        <button class="back_btn">Go back</button>


        <div class="recipe_item">
            <div>
                <h3>Recepies name</h3>

                <div class="recipe_info">

                    <img class="recipe_img"/>

                    <div>
                        <div>
                            <h4>Instructions</h4>
                            <div class="instructions_item">
                                item
                            </div>
                        </div>
    
                        <div>
                            <h4>Information</h4>
                            <div class="information_item">
                                item
                            </div>
                        </div>

                    </div>                    

                </div>

            </div>
        </div>
    </div>

